<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-4">
    <li class="breadcrumb-item"><a routerLink="/games">Juegos</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ gameName }}</li>
  </ol>
</nav>
  <div class="row g-2 g-lg-2 pt-2 mt-4">
     <div class="col col-sm-12 col-md-3">
<div *ngIf="game" class="card h-75" >
  <img [src]="game.thumbnail" class="card-img-top" [alt]="game.title" />
  <div class="card-body">
    <h5 class="card-title">{{ game.title }}</h5>
    <p class="card-text">{{ game.short_description }}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Género:</strong> {{ game.genre }}
      </li>
      <li class="list-group-item">
        <strong>Plataforma:</strong> {{ game.platform }}
      </li>
      <li class="list-group-item">
        <strong>Desarrollador:</strong> {{ game.developer }}
      </li>
      <li class="list-group-item">
        <strong>Fecha de lanzamiento:</strong> {{ game.release_date }}
      </li>
    </ul>
  </div>
</div>
     </div>
    <div class="col col-sm-12 col-md-9">
<h2 class="mb-4">Crear Artículo para: {{ gameName }}</h2>

<form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nombre del Usuario</label>
    <input id="name" type="text" formControlName="name" class="form-control" />
    <div
      *ngIf="gameForm.get('name')?.invalid && gameForm.get('name')?.touched"
      class="text-danger"
    >
      Este campo es obligatorio.
    </div>
  </div>

  <div class="form-group">
  <label for="cedula">Cédula</label>
  <input
    id="cedula"
    type="text"
    formControlName="cedula"
    class="form-control"
  />
  <div
    *ngIf="gameForm.get('cedula')?.invalid && gameForm.get('cedula')?.touched"
    class="text-danger"
  >
    La cédula debe tener el formato ###-#######-#.
  </div>
</div>

<div class="form-group">
  <label for="telefono">Teléfono</label>
  <input
    id="telefono"
    type="text"
    formControlName="telefono"
    class="form-control"
  />
  <div
    *ngIf="gameForm.get('telefono')?.invalid && gameForm.get('telefono')?.touched"
    class="text-danger"
  >
    El teléfono debe tener un formato válido: (###) ###-####, ###-###-####, ### ### ####, o ##########.
  </div>
</div>

  <div class="form-group">
    <label for="genre">Género</label>
    <div>
      <label
        ><input type="radio" formControlName="genre" value="Hombre" />
        Hombre</label
      >
      <label
        ><input type="radio" formControlName="genre" value="Mujer" />
        Mujer</label
      >
      <label
        ><input type="radio" formControlName="genre" value="Otro" /> Otro</label
      >
    </div>
    <div
      *ngIf="gameForm.get('genre')?.invalid && gameForm.get('genre')?.touched"
      class="text-danger"
    >
      Este campo es obligatorio.
    </div>
  </div>

  <div class="form-group">
    <label for="age">Edad</label>
    <input id="age" type="number" formControlName="age" class="form-control" />
    <div
      *ngIf="gameForm.get('age')?.invalid && gameForm.get('age')?.touched"
      class="text-danger"
    >
      Introduzca una edad válida.
    </div>
  </div>

  <div class="form-group">
    <label for="paisId">País</label>
    <select id="paisId" formControlName="paisId" class="form-control">
      <option value="" disabled>Seleccione un país</option>
      <option
        *ngFor="let pais of countries"
        [value]="pais.id"
      >
        {{ pais.name }}
      </option>
    </select>
    <div
      *ngIf="gameForm.get('paisId')?.invalid && gameForm.get('paisId')?.touched"
      class="text-danger"
    >
      Este campo es obligatorio.
    </div>
  </div>

  <div class="form-group">
    <label for="title">Título</label>
    <textarea
      id="title"
      formControlName="title"
      class="form-control"
    ></textarea>
    <div
      *ngIf="gameForm.get('title')?.invalid && gameForm.get('title')?.touched"
      class="text-danger"
    >
      Este campo es obligatorio.
    </div>
  </div>

  <div class="form-group">
    <label for="description">Descripción</label>
    <textarea
      id="description"
      formControlName="description"
      class="form-control"
    ></textarea>
    <div
      *ngIf="
        gameForm.get('description')?.invalid &&
        gameForm.get('description')?.touched
      "
      class="text-danger"
    >
      Este campo es obligatorio.
    </div>
  </div>

  <div class="form-group">
    <label for="rate">Valoración</label>
    <input
      id="rate"
      type="number"
      formControlName="rate"
      class="form-control"
    />
    <div
      *ngIf="gameForm.get('rate')?.invalid && gameForm.get('rate')?.touched"
      class="text-danger"
    >
      Introduzca un valor entre 1 y 10.
    </div>
  </div>

  <div class="mt-4 mb-2 d-grid gap-2 col-6 mx-auto">
    <button type="submit" class="btn btn-success" [disabled]="gameForm.invalid">
      Guardar
    </button>
    <button type="button" class="btn btn-secondary" (click)="goBack()">
      Regresar
    </button>
  </div>
</form>
      </div>
  </div>
  




